body {
  margin: 0;
  background: no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: -apple-system, Helvetica, sans-serif;
  text-shadow: 0px 0px 10px grey;
  height: 100%;
  overflow: hidden;
}

.flex-main-container {
  height: 93vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

h1 {
  font-size: 10rem;
  margin-bottom: 1%;
}

#focus:hover {
  cursor: pointer;
  color: white;
  text-shadow: 0px 0px 10px white;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  text-shadow: 0px 0px 10px grey;
}

::placeholder {
  color: white;
  opacity: 0.8;
  padding-left: 2%;
  text-shadow: 0px 0px 10px grey;
}

#focus-container {
  margin-bottom: 15%;
  font-size: 1.5rem;
}

button {
  margin-left: 1%;
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border: none;
  text-shadow: 0px 0px 10px grey;
}

button:hover {
  font-weight: bold;
}

.bottom {
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: space-between;
}

.photo-by {
  font-size: smaller;
}

.quote {
  font-style: italic;
  margin-left: 20%;
}

.search {
  margin-left: 2%;
  margin-top: 2%;
}
